h3 {
    font-weight: bold;
}
body {
    font-family: 'Carlito', sans-serif;
}
.form {
    width: 60%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}